extends layout.pug

block content

  .container
    .row
      .col-sm-12
        br
        section#job
          .row
            h1 Job status
          .row
            .col-md-12
              #job-status.successful
                #job-status-header.successful
                  p Status: #{status}
                #job-status-body
                  .message
                    h3 Message
                    p #{message}
                  .duration
                    - const date1 = new Date(started);
                    - const date2 = new Date(finished);
                    - const diffTime = Math.abs(date2 - date1);
                    h4
                      label(for='progress') Progress
                    progress#progress.inline(value=progress max='100')
                    h4
                      label(for='runtime') Duration
                    p
                      span#runtime
                        | #{diffTime}ms
                    h4
                      label(for='starttime') Started processing
                    p
                      span#starttime #{started}
                    h4
                      label(for='endtime') Finished processing
                    p
                      span#endtime #{finished}
                    h3 Links
                    - var linkHtml = links.find(i => i.rel == 'http://www.opengis.net/def/rel/ogc/1.0/results' && i.type == 'text/html').href
                    - var linkJson = links.find(i => i.rel == 'http://www.opengis.net/def/rel/ogc/1.0/results' && i.type == 'application/json').href
                    ul
                      li
                        a(href=linkHtml)
                          span Results of job as HTML
                          |  (
                          span text/html
                          | )
                      li
                        a(href=linkJson)
                          span Results of job as JSON
                          |  (
                          span application/json
                          | )