extends layout.pug

block content

  .container
    .row
      .col-sm-12
        br
        section#jobs
          .row
            .col-md-12
              table.job-list.table.table-striped.table-bordered
                thead
                  tr
                    th Job ID
                    th Process ID
                    th Start
                    th Duration
                    th Progress
                    th Status
                    th Message
                tbody
                  each job in jobs
                    - const date1 = new Date(job.started);
                    - const date2 = new Date(job.finished);
                    - const diffTime = Math.abs(date2 - date1);
                    - var resultsLink = job.links.find(i => i.rel == 'http://www.opengis.net/def/rel/ogc/1.0/results' && i.type == 'application/json').href
                    - var jobUrl = resultsLink.substring(0, resultsLink.indexOf("/jobs") + "/jobs".length) + "/" + job.jobID
                    - var processUrl = resultsLink.substring(0, resultsLink.indexOf("/jobs")) + "/processes" + "/" + job.processID
                      tr
                        td.small
                          a(href=jobUrl) #{job.jobID}
                        td.small
                          a(href=processUrl) #{job.processID}
                        td
                          abbr(title=job.started) #{job.started}
                        td
                          | #{diffTime}ms
                        td
                          progress.inline(value=job.progress max='100')
                        td
                          mark.successful #{job.status}
                        td
                          | #{job.message}
