extends layout.pug

block append scripts
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css')
  script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js')

block content

  h1 #{title}
  p #{description}

  h2 Collections
  - var linkCollections = links.find(i => i.rel == 'http://www.opengis.net/def/rel/ogc/1.0/data').href
  a(class='button' href=linkCollections) View the collections in this service

  h2 Processes
  - var linkProcesses = links.find(i => i.rel == 'http://www.opengis.net/def/rel/ogc/1.0/processes').href
  a(class='button' href=linkProcesses) View the processes in this service

  h2 Jobs
  - var linkJobs = links.find(i => i.rel == 'http://www.opengis.net/def/rel/ogc/1.0/job-list').href
  a(class='button' href=linkJobs) View the jobs in this service

  h2 API Definition
  - var linkAPIjson = links.find(i => i.rel == 'service-desc' || i.type == 'application/vnd.oai.openapi+json;version=3.0').href
  p Documentation: 

  - var linkAPIjson = links.find(i => i.rel == 'service-desc' || i.type == 'application/vnd.oai.openapi+json;version=3.0').href
  a(class='button' href=linkAPIjson) OpenAPI Document

  h2 Conformance
  - var linkConformance = links.find(i => i.rel == 'http://www.opengis.net/def/rel/ogc/1.0/conformance').href
  a(class='button' href=linkConformance) View the conformance classes of this service

  h2 Spatial Extent
  #map(style='width: 600px; height: 400px; position: relative;')
  script.
    const map = L.map("map").setView([52.300, 4.867], 12);
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);
      
    const coords = !{JSON.stringify(extent.spatial.bbox)}
    const bounds = [[coords[1], coords[0]], [coords[3], coords[2]]];
    L.rectangle(bounds, {color: "#ff7800", weight: 1}).addTo(map)

