extends layout.pug

block content

  .container
    .row
      .col-sm-12
        br
        section#process(itemscope='' itemtype='https://schema.org/WebAPI')
          h2.text-body-emphasis(itemprop='name') #{content.title}
          div(itemprop='description') #{content.description}
          .row
            p
            h3.text-body-emphasis Inputs
            .col-sm-12.col-md-12
              table.table.table-striped.table-bordered
                thead
                  tr
                    th Id
                    th Title
                    th Data Type
                    th Description
                tbody
                  each input, key in content.inputs
                    tr(itemprop='parameter' itemscope='')
                      td(itemprop='id' data-label='ID') #{key}
                      td(itemprop='name' data-label='Title') #{input.title}
                      td(itemprop='type' data-label='Data Type') #{input.schema.type}
                      td(itemprop='description' data-label='Description') #{input.description}
            p
            h3 Outputs
            .col-sm-12.col-md-12
              table.table.table-striped.table-bordered
                thead
                  tr
                    th Id
                    th Title
                    th Data Type
                    th Description
                tbody
                  each output, key in content.outputs
                    tr(itemprop='parameter' itemscope='')
                      td(itemprop='id' data-label='ID') #{key}
                      td(itemprop='name' data-label='Title') #{output.title}
                      td(itemprop='type' data-label='Data Type') #{output.schema.type}
                      td(itemprop='description' data-label='Description')
                        | #{output.description}
              p
              h2 Execution modes
              ul
                each jobControlOption in content.jobControlOptions
                  li=jobControlOption

              p
              h2 Jobs
              - var linkJobs = content.links.find(i => i.rel == 'http://www.opengis.net/def/rel/ogc/1.0/job-list').href
              a(href=linkJobs) Browse jobs
              - var linkExecute = content.links.find(i => i.rel == 'http://www.opengis.net/def/rel/ogc/1.0/execute').href
              p
              h2 Links
              ul
                li
                  a(href=linkExecute)
                    | Execution for this process as JSON (application/json)
