extends layout.pug

block content

  h2 Job status
  p Status: #{status}
  p Progress: #{progress}%

  h3 Message 
  p #{message}

  h3 Progress 

  h3 Duration 

  h3 Started processing
  p #{started}

  h3 Finished processing
  p #{finished}

  h3 Links

